$primary: black; // burgundy
$info: #7f7f7f; // grey
$jumbotron-bg: grey;
$jumbotron.img: {
  max-width: auto;
  max-height: auto;
}

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white
