<!-- header.html -->
<noscript>
  <style type="text/css">
    body { display:none; }
  </style>
  <h3>Please enable javascript in your browser to view this site!</h3>
</noscript>
  <link href="//rosschartered.gopaywall.com/script/base.css" rel="stylesheet" type="text/css" media="all">
<script src="//rosschartered.gopaywall.com/script/script.js" type="text/javascript"></script>
<nav class="navbar sticky-top navbar-expand-md navbar-light py-3">
  <div class="container">
      <a href="{{ site.baseurl }}/" class="navbar-brand">
       <img src="../img/nav-logo.jpeg" alt="nav-logo" width="100" height="auto">
     </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li{% if page.url == '/businesses/' %} class="active" {% endif %}>
           <a href="/businesses" class="nav-link">Businesses</a>
        </li>
         <li{% if page.url == '/consumers/' %} class="active" {% endif %}>
           <a href="/consumers" class="nav-link">Consumers</a>
        </li>
         <li{% if page.url == '/strategy/' %} class="active" {% endif %}>
           <a href="/strategy" class="nav-link">Strategy</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
