<!-- header.html -->
<nav class="navbar navbar-expand-md navbar-light py-3">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <img src="../img/nav-logo.jpeg" class="w-25 p-3" alt="Responsive image">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/business/" class="nav-link">Business</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/consumer/" class="nav-link">Consumer</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/thinking/" class="nav-link">Thinking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
