.navbar{
  box-shadow: 1px 1px 3px $primary;
  opacity: 0.8;
  background: $white;
}

.nav-link {
  color: $info !important;

  &:hover {
    color: $primary !important;
  }
}

  .active {
    font-weight: 650;
    color: $primary !important;
  }
